<footer class="row footer mx-md-3">
  <hr/>
  <div class="col-md-6">
    <p>Este sitio fue adaptado por <a href="https://www.metadocencia.org" target="_blank">MetaDocencia</a> a partir de <a href="https://carpentries.github.io/sandpaper/" target="_blank">Carpentries Workbench</a>.</p>{{#yaml}}<p><a href="https://github.com/MetaDocencia/metadocencia-workbench-template/blob/main/README.md">Editar en GitHub</a> | <a href="https://github.com/MetaDocencia/metadocencia-workbench-template/blob/main/CONTRIBUTING.md">Contribuir</a> | <a href="https://github.com/MetaDocencia/metadocencia-workbench-template">Repositorio</a></p><p><a href="https://github.com/MetaDocencia/metadocencia-workbench-template/blob/main/CITATION.cff">Citar</a> | <a href="mailto:{{contact}}">Contacto</a> | <a href="https://www.metadocencia.org/institucional/">Quiénes somos</a></p>{{/yaml}}
  </div>
  <div class="col-md-6">
    <p>Este material está disponible bajo licencia <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.</p>
    <p>Sitio compilado con `sandpaper` y `varnish`.</p>
  </div>
</footer>
