<footer class="row footer mx-md-3">
  <hr/>
  <div class="col-md-6">
    <p>Este sitio fue generado con <a href="https://carpentries.github.io/sandpaper/" target="_blank">Carpentries Workbench</a> y adaptado por <a href="https://www.metadocencia.org" target="_blank">MetaDocencia</a>.</p>
    {{#yaml}}
    <p>
      <a href="{{source}}/edit/{{branch}}/README.md">Editar en GitHub</a> |
      <a href="{{source}}/blob/{{branch}}/CONTRIBUTING.md">Contribuir</a> |
      <a href="{{source}}">Repositorio</a>
    </p>
    <p>
      <a href="{{source}}/blob/{{branch}}/{{citation}}">Citar</a> |
      <a href="mailto:{{contact}}">Contacto</a> |
      <a href="https://carpentries.org/about/">Acerca de The Carpentries</a>
    </p>
    {{/yaml}}
  </div>
  <div class="col-md-6">
    <p>Este material está disponible bajo licencia <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.</p>
    <p>Template adaptado desde el original de The Carpentries.</p>
    <p>Sitio compilado con `sandpaper` y `varnish`.</p>
  </div>
</footer>
